:root{
  --backgroundColor: #000000;
  --navLinksColor: #00b90f;
}


body{
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  position: relative;
  
}


.logoText{
  color: #8903d6;
  font-weight: 800;
}
.App {
  text-align: center;
  font-family: 'Lilita One', cursive;
  position: relative;
  overflow: hidden;
}

.line{
  width: 5px;
  height: fit-content;
  position: absolute;
  background-color: #97d603;
}
.dividerContainer{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: center;
  margin: 150px 0px;
}

.dividerContainer .divider:nth-child(3){
  width: 100px;
  border-radius: 10px;
}


.divider{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: linear-gradient(#8203d6 , rgb(166, 3, 207));

}



.nav-link{
  color:#8203d6 ;
  visibility: visible;
  font-weight: 600;
  position: relative;
  transition: 0.2s;
  padding: 10px;

}

.nav-link::after{
  content: "";
  width: 0px;
  height: 5px;
  background-color: #8203d6 ;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  left: 50%;


}

.nav-link:hover{
  color: #c403d6 ;
}

.nav-link:hover::after{
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8203d6 ;
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  left: 50%;
  color: #8203d6 ;


}






.navbar-nav {
  display: flex;
  gap: 20px;

}

.navbar-collapse{
  text-align: center;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

nav{

  width: 100%;

}
.navbar {
  background-color: #000000;
  text-align: center;
}

.navbar-toggler-icon{
  background-color: #8203d6 ;
}
.nb button{
  background-color: #8203d6 ;
}

.nb{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100%;
  text-align: center;
}

nav .navbar .navbar-expand{
  display: flex;
  flex-direction: column;
}


  header{
    height: fit-content;
    width: 100%;
    position: relative;
    padding: 20px 0px;
    color: white;
    text-align: center;
 
 
  }

  header button{
    color: #8203d6 ;
    border:#8203d6  solid 2px ;
    width: fit-content;
    padding: 0px 20px;
    height: 50px;
    margin-top: 100px;
    transition: 0.3s;
    font-weight: bold;
  }

  header button:hover{
    background-color:#8203d6 ;
    color:#000000;
    border-radius: 10px;

  }

  .connectText{
    margin-top: 100px;
    font-weight: 600;
    color: #8903d6;
    animation: moveHeaderBottom 1s ease-in-out;

  }




  .sideBar p {
    padding: 0px 20px;

  }
  .sideBar{
    background-color: #8203d6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: #000;
    margin-top: 20px;
    padding: 20px;
    animation: moveHeaderBottom 1s ease-in-out;

    
  
  }
  .socialMediaContainer{
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: relative;
    animation: moveHeaderBottom 1s ease-in-out;
  }

  .socialMediaContainer a {
    padding:2px 8px;
    transition: 0.3s;

    font-weight: bold;
  
  }
.socialMediaContainer a:hover{
  transform: rotate(15deg);
}


  header h1 {
    background:  -webkit-linear-gradient(#8203d6 , rgb(166, 3, 207));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-top: 100px;
    font-weight: 500;

  }
  header span{
    display: block;
    color: #97d603;
    font-weight: 800;
 

  }
  header p {
    margin-top: 4px;
  }


  .headerButtonContainer{
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .headerContainer{
    animation: moveHeader 1s ease-in-out;
  }


  .contentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .contentContainer h2{
    font-size: 2.5rem;
    font-weight: bold;
    background:  -webkit-linear-gradient(#8203d6 , rgb(166, 3, 207));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



  }








  .aboutContainer{
  
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19);
    padding: 100px 0px;
    z-index: 1;


  }

  .aboutContent{
    max-width: 900px;
    gap: 80px;
    margin: 40px auto;
    z-index: 1;
    background-clip: border-box;


  }



  .aboutImage{
    height: 30px;
    width: 100px;  
    background-color: #8203d6 ;
    transform: rotate(45deg);
    border-radius: 40px;
    padding: 0px 80px;

  }


.customImage{
  width: 100px;
  height: 100%;
  background-color:#8203d6 ;
}

  article{
    color: white;
    line-height: 34px;
    margin-top: 20px;
    font-size: 18px;
    border: 2px solid #8203d6;
    padding: 20px;

  }


.iconSkillsContainer h3{
  background:  -webkit-linear-gradient(#8203d6 , rgb(166, 3, 207));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 30px;
}

.iconSkillsContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.skillsCard img {
  width: 150px;
  height: 150px;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;

  }


.s-container{
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  width: 100%;
}

  .skills{
    margin-top: 100px;
    color: white;
    text-align: center;

  }

  ul li {

    font-size: 20px;
    margin-top: 10px;

  }


  .topSkillsContainer{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skillsCard img{
    height: 150px;

  }


  .skillsCard{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }



  .skillsCard h4 {
    font-size: 30px;
    font-weight: 800;
    background:  -webkit-linear-gradient(#8203d6 , rgb(166, 3, 207));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.portfolioContainer{
  background-color: #000;
  padding: 80px 0px;
}

  .portfolioCardContainer{
    color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .portfolioCardContainer img{
    border:#111111 solid 2px;
    width: 200px;
    height: 200px;
  }

  .projectContainer{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
    
  }

  .portfolioCardContainer p {
    font-weight: 600;
  }




.contactContainer{
  text-align: center;
}
  form{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
  }

  form button{
    background-color:#000;
    color: #8203d6 ;
    border: 2px solid #8203d6 ;
    padding: 10px;
    transition: 0.3s;
    font-weight: bold;
  }

  form button:hover{
    background-color: #8203d6;
    color: #000;
  }
  textarea{
    height: 400px;
    background-color: #000;
  }
.messageContainer{
  margin: 40px;
  background: -webkit-linear-gradient(#8203d6 , rgb(166, 3, 207));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}






  footer{
    color: white;
    padding: 40px 0px;
    text-align: center;
  }





  @keyframes moveHeader {

    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
    
  }

  @keyframes moveHeaderBottom {

    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
    
  }





  @media screen and (max-width: 986px) {
    nav a{
      visibility: hidden;

    }
    .App{
      text-align: center;
    }

    .navbar-brand{
      visibility: hidden;
    }

    .navbar-collapse{
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .navbar button{
      margin: 20px;

    }
    
    
  }



  @media screen and (max-width: 670px) {
    .App{
      text-align: center;
    }

    .navbar-brand{
      visibility: hidden;
    }

    .navbar-collapse{
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .nb{
      width: 100%;
    }

    .navbar{

      justify-content: center;
      width: 100%;
    }
  
    
  }